@font-face {
    font-family: "Hoshiko";
    src: url(fonts/Hoshiko\ Satsuki.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(images/blue-bokeh-textured-plain-product-background.jpg);
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-image: url(images/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg);
    z-index: 1000;
    transition: top 0.3s;
}

.logo {
  float: left;
  font-family: "Hoshiko", sans-serif;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
  text-align: top;
  margin-left: 10px;
}

.topnav a {
  float: left;
  margin-left: 20px;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.active {
  text-decoration: underline;
  color: white;
}

h1 {
    font-size: 100px;
}
p {
    font-size: 40px;
}

ol {
    font-size: 50px;
}

.banner {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 540px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 95px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/boardgame-background.gif);
    background-position: center center;
    background-size: cover;
    filter: blur(5px) brightness(100%);
    z-index: -1;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: -1;
}

.content {
    padding: 20px;
    flex: 1;
}

.aboutus {
    display: block;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding: 0 10px;
}

.clubinfo {
    width: 1020px;
    min-height: 450px;
    display: block;
    background: rgba(0,0,0,0.35);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 18px auto;
    font-size: 0;
}

.clubinfo .text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
}

.clubinfo .text b {
    font-size: 60px;
    margin-bottom: 10px;
}

.clubinfo .text ul {
    font-size: 48px;
    margin: 15px 0;
    padding-left: 20px;
}

.clubinfo .text ul li {
    margin: 10px 0;
}

.clubinfo .text ul li a {
    color: white;
}

.clubinfo .img-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid gray;
}

.clubinfo .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 20px 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p {
    color:black;
    font-size: 20px;
    margin: 0;
    flex: 0 0 auto;
    margin-left: 20px;
}

.footer a {
    color: black;
    font-size: 20px;
    flex: 1;
    text-align: center;
    margin-right: 375px;
}

.footer ul li {
    color: black;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Smooth transition */
}

/* Initial state for elements coming from the right */
.slide-in-right {
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Class to apply when the element is in view */
.show {
  opacity: 1;
  transform: translateX(0); /* Move to original position */
}

/* made on lesson */

.videogamestitle {
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.Table {
    align-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    background-color: black;
}

.Table th {
    color: white;
}

.button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    align-content: center;
}

.button a {
    color: #f2f2f2;
    background-color: black;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    font-size: 25px;
    border-style:ridge;
    border-radius: 10px;
    border-color: white;
}

.button a:hover {
    text-decoration: underline;
    color: black;
    background-color: white;
    border-color: black;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
}

.container div {
    color: white;
    margin: 10px;
}

.gameinfo {
    width: 300px;
    height: 300px;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid gray;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.gameinfo:hover img {
    transform: scale(1.1);
}

.blockimg {
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.blockimg:hover {
    transform: scale(1.1);
}

.box-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.box {
    width: 1000px;
    height: 100px;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
}