body {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}

h1 {
    font-size: 100px;
}
p {
    font-size: 40px;
}

ol {
    font-size: 50px;
}

.banner {
    display: flex;
    background-image: url(images/1370602.jpeg);
    background-position: center center;
    filter: brightness(100%);
    background-size: cover;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: -1;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: -1;
}

.content {
    background-color: black;
}